@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@700&display=swap');

#root {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

h2 {
    align-self: center;
    font-size: 18px;
    color: #333333;
    text-align: center;
    font-weight: 500;
    font: 'Arimo';
    width: 650px;
    height: 22px;
    background-color: transparent;
}

#divider {
    height: 0;
    max-width: 650px;
    border-top: 3px dotted #ccc;
    margin: 36px 0 28px 0;
}


#header {
    background-color: #dddddd;
    height: 105px;
}

label {
    margin-bottom: 60px;
}

form {
    align-self: center;
    height: 35px;
    font-size: 16px;
}